SpaceClaim.Api.V18/SpaceClaimCustomUI.V18.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
	Schema definition for SpaceClaim Ribbon Extensibility
	Copyright (c) SpaceClaim Corporation.
-->
<xs:schema version="1.0 " attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.spaceclaim.com/customui" xmlns="http://schemas.spaceclaim.com/customui">
  <xs:annotation>
    <xs:documentation>
      Schema definition for SpaceClaim ribbon extensibility.
    </xs:documentation>
  </xs:annotation>
  <xs:element name="customUI" type="CT_CustomUI">
  </xs:element>

  <xs:complexType name="CT_Button">
    <xs:annotation>
      <xs:documentation>
        A button control.
      </xs:documentation>
    </xs:annotation>
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="EG_SubmenuControls" />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="style" type="ST_Style" use="optional" />
    <xs:attribute name="size" type="ST_Size" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="optional" />
    <xs:attribute name="commandAttributes" type="ST_CommandAttributes" use="optional" />
    <xs:attribute name="position" type="ST_Position" use="optional" />
    <xs:attribute name="label" type="ST_Label" />
    <xs:attribute name="isGroup" type="xs:boolean" use="optional" />
    <xs:attribute name="wordWrap" type="xs:boolean" use="optional" />
    <xs:attribute name="autoExpandOnClick" type="xs:boolean" use="optional" />
    <xs:attribute name="insertBefore" use="optional" type="ST_ControlReference" />
    <xs:attribute name="maximumLength" use="optional">
      <xs:annotation>
        <xs:documentation>
          The maximum length of the text displayed. The text will be truncated at this value.
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

  </xs:complexType>

  <xs:complexType name="CT_Label">
    <xs:annotation>
      <xs:documentation>
        A label control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="text" type="xs:string" use="optional" />
    <xs:attribute name="width" type="xs:int" use="optional" />
    <xs:attribute name="align" type="ST_StringAlignment" use="optional" />
    <xs:attribute name="isGroup" type="xs:boolean" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="optional" />
    <xs:attribute name="commandAttributes" type="ST_CommandAttributes" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_Spacer">
    <xs:annotation>
      <xs:documentation>
        A spacer control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="width" use="optional">
      <xs:annotation>
        <xs:documentation>
          Spacer width (default = 3).
      </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="1"/>
      </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="CT_Separator">
    <xs:annotation>
      <xs:documentation>
        A separator control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="width" use="optional">
      <xs:annotation>
        <xs:documentation>
          Overall width of the separator (default = 1).
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="CT_Textbox">
    <xs:annotation>
      <xs:documentation>
        A textbox control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="width" type="xs:int" use="optional" />
    <xs:attribute name="height" type="xs:int" use="optional" />
    <xs:attribute name="multiline" type="xs:boolean" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="required" />
    <xs:attribute name="commandAttributes" type="ST_CommandAttributes" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_SpinBox">
    <xs:annotation>
      <xs:documentation>
        A spinbox control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="width" type="xs:int" use="optional" />
    <xs:attribute name="height" type="xs:int" use="optional" />
    <xs:attribute name="minimumValue" type="xs:double" use="optional" />
    <xs:attribute name="maximumValue" type="xs:double" use="optional" />
    <xs:attribute name="increment" type="xs:double" use="optional" />
    <xs:attribute name="decimalPlaces" type="xs:int" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="required" />
    <xs:attribute name="commandAttributes" type="ST_CommandAttributes" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_Slider">
    <xs:annotation>
      <xs:documentation>
        A slider control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="width" type="xs:int" use="optional" />
    <xs:attribute name="label" type="ST_Label" />
    <xs:attribute name="labelVisible" type="xs:boolean" />
    <xs:attribute name="minimumValue" type="xs:int" use="optional" />
    <xs:attribute name="maximumValue" type="xs:int" use="optional" />
    <xs:attribute name="increment" type="xs:int" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="required" />
    <xs:attribute name="commandAttributes" type="ST_CommandAttributes" use="optional" />
    <xs:attribute name="orientation" type="ST_Orientation" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_ItemContainer">
    <xs:annotation>
      <xs:documentation>
        A container for UI components.
      </xs:documentation>
    </xs:annotation>
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="EG_ContainerControls" />
    <xs:attribute name="itemSpacing" type="xs:int" use="optional" />
    <xs:attribute name="verticalAlign" use="optional" type="ST_VerticalAlignment" />
    <xs:attribute name="horizontalAlign" use="optional" type="ST_HorizontalAlignment" />
    <xs:attribute name="isGroup" type="xs:boolean" use="optional" />
    <xs:attribute name="layoutOrientation" type="ST_Orientation" use="optional" />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="resizeItemsToFit" type="xs:boolean" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_ControlContainer">
    <xs:annotation>
      <xs:documentation>
        A container for a control.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="ST_Id" use="required" />
  </xs:complexType>


  <xs:complexType name="CT_Checkbox">
    <xs:annotation>
      <xs:documentation>
        Checkbox control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="text" type="xs:string" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="required" />
  </xs:complexType>

  <xs:complexType name="CT_RadioButton">
    <xs:annotation>
      <xs:documentation>
        RadioButton control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="text" type="xs:string" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="required" />
  </xs:complexType>

  <xs:complexType name="CT_Combobox">
    <xs:annotation>
      <xs:documentation>
        Combobox control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="CT_ComboboxItem"/>
    </xs:sequence>
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="width" type="xs:int" use="optional" />
    <xs:attribute name="itemHeight" type="xs:int" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="required" />
    <xs:attribute name="type" type="ST_ComboboxType" />
    <xs:attribute name="textEditable" type="xs:boolean" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_ComboboxItem">
    <xs:annotation>
      <xs:documentation>
        Combobox item.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:attribute name="label" type="ST_Label" use="required" />
  </xs:complexType>

  <xs:complexType name="CT_Group">
    <xs:annotation>
      <xs:documentation>
        A group contains UI controls like buttons, checkBoxes, comboBoxes, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="EG_ContainerControls" />
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="label" type="ST_Label" use="optional" />
    <xs:attribute name="layoutOrientation" type="ST_Orientation" use="optional" />
    <xs:attribute name="itemSpacing" type="xs:int" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="optional" />
    <xs:attribute name="showOptionsButton" type="xs:boolean" use="optional" />
    <xs:attribute name="verticalAlign" use="optional" type="ST_VerticalAlignment" />
    <xs:attribute name="insertBefore" use="optional" type="ST_ControlReference" />
    <xs:attribute name="overwriteExisting" type="xs:boolean" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_GalleryContainer">
    <xs:annotation>
      <xs:documentation>
        Gallery control
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="container" type="CT_ItemContainer">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="button" type="CT_Button" />
    </xs:sequence>
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="width" type="xs:int" use="required" />
    <xs:attribute name="height" type="xs:int" use="required" />
    <xs:attribute name="minimumWidth" type="xs:int" use="optional" />
    <xs:attribute name="minimumHeight" type="xs:int" use="optional" />
    <xs:attribute name="popup" type="xs:boolean" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_TabGroup">
    <xs:annotation>
      <xs:documentation>
        A Ribbon tab context group.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="label" type="ST_Label" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_TabGroups">
    <xs:annotation>
      <xs:documentation>
        A collection of Ribbon tab context groups.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="tabGroup" type="CT_TabGroup" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_Tab">
    <xs:annotation>
      <xs:documentation>
        A tab which contains groups.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="group" type="CT_Group" />
    </xs:sequence>
    <xs:attribute name="id" type="ST_Id" use="required" />
    <xs:attribute name="label" type="ST_Label" use="optional" />
    <xs:attribute name="command" type="ST_Command" use="optional" />
    <xs:attribute name="tabGroup" type="xs:string" use="optional" />
    <xs:attribute name="insertBefore" use="optional" type="ST_ControlReference" />
  </xs:complexType>

  <xs:complexType name="CT_Tabs">
    <xs:annotation>
      <xs:documentation>
        The collection of Ribbon tabs.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="tab" type="CT_Tab" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_Panel">
    <xs:annotation>
      <xs:documentation>
        Specifies Tool Options Panel customization for an add-in.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="group" type="CT_Group" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_MiniToolbar">
    <xs:annotation>
      <xs:documentation>
        Specifies MiniToolbar customization for an add-in.
      </xs:documentation>
    </xs:annotation>
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="EG_ContainerControls" />
    <xs:attribute name="layoutOrientation" type="ST_Orientation" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_Menu">
    <xs:annotation>
      <xs:documentation>
        The application menu.
      </xs:documentation>
    </xs:annotation>
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="EG_MenuControls" />
  </xs:complexType>  

  <xs:complexType name="CT_Ribbon">
    <xs:annotation>
      <xs:documentation>
        Specifies Ribbon customization for an add-in.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="tabGroups" type="CT_TabGroups" minOccurs="0" maxOccurs="1" />
      <xs:element name="tabs" type="CT_Tabs" minOccurs="0" maxOccurs="1" />
      <xs:element name="menu" type="CT_Menu" minOccurs="0" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="startFromScratch" type="xs:boolean" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_CustomUI">
    <xs:annotation>
      <xs:documentation>
        The root element of the SpaceClaim ribbon customization file that is used to add or modify ribbon UI components.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="ribbon" type="CT_Ribbon" />
      <xs:element name="panel" type="CT_Panel" />
      <xs:element name="miniToolbar" type="CT_MiniToolbar" />
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="ST_Id">
    <xs:annotation>
      <xs:documentation>
        The ID of the component.
        The ID is in the form of NameOfAddIn.ComponentName{Type},
        e.g. MyAddin.OpenDocumentButton, MyAddin.ViewTab, or MyAddin.FontGroup.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Size">
    <xs:annotation>
      <xs:documentation>
        The size of the button.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="small" />
      <xs:enumeration value="large" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Style">
    <xs:annotation>
      <xs:documentation>
        The style of the button.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="default" />
      <xs:enumeration value="imageandtext" />
      <xs:enumeration value="textonlyalways" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Label">
    <xs:annotation>
      <xs:documentation>
        The text displayed on the component.
        If a Command is associated with the component, the command's Text property will have precedence over the label attribute.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_ControlReference">
    <xs:annotation>
      <xs:documentation>
        The id of a control.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Orientation">
    <xs:annotation>
      <xs:documentation>
        The orientation of the UI component.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="horizontal" />
      <xs:enumeration value="vertical" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_VerticalAlignment">
    <xs:annotation>
      <xs:documentation>
        The vertical alignment of the UI component.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="bottom" />
      <xs:enumeration value="middle" />
      <xs:enumeration value="top" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_HorizontalAlignment">
    <xs:annotation>
      <xs:documentation>
        The horizontal alignment of the UI component.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="left" />
      <xs:enumeration value="center" />
      <xs:enumeration value="right" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Command">
    <xs:annotation>
      <xs:documentation>
        The name of the Command associated with the UI component
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_CommandAttributes">
    <xs:annotation>
      <xs:documentation>
        <p>
          Attributes that specify how the Command controls the UI component.
          Valid values can be a combination of the items below separated by spaces.
        </p>
        "formattext"  - Combine the UICommand Text and Hint for the component's Text.
        "striphtml"   - Remove any HTML formating from the UICommand Text property before it is applied to the component's Text.
        "noimage"     - Don't set the Image property on the component.
        "notext"      - Don't set the Text property on the component.
        "nokeytips"   - No KeyTips for this component.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_StringAlignment">
    <xs:annotation>
      <xs:documentation>
        The alignment of a string.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="near" />
      <xs:enumeration value="center" />
      <xs:enumeration value="far" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_ComboboxType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="default" />
      <xs:enumeration value="font" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Position">
    <xs:annotation>
      <xs:documentation>
        The position of the button in the Application menu.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="new" />
      <xs:enumeration value="newButton"/>
      <xs:enumeration value="newStart" />
      <xs:enumeration value="newEnd" />
      <xs:enumeration value="open" />
      <xs:enumeration value="openButton" />
      <xs:enumeration value="save" />
      <xs:enumeration value="saveButton" />
      <xs:enumeration value="saveStart" />
      <xs:enumeration value="saveEnd" />
      <xs:enumeration value="saveAs" />
      <xs:enumeration value="saveAsButton" />
      <xs:enumeration value="saveAsStart" />
      <xs:enumeration value="saveAsEnd" />
      <xs:enumeration value="share" />
      <xs:enumeration value="shareButton" />
      <xs:enumeration value="print" />
      <xs:enumeration value="printButton" />
      <xs:enumeration value="close" />
      <xs:enumeration value="closeButton" />
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="EG_SubmenuControls">
    <xs:choice>
      <xs:element name="button" type="CT_Button" />
      <xs:element name="label" type="CT_Label" />
      <xs:element name="textBox" type="CT_Textbox" />
      <xs:element name="spinBox" type="CT_SpinBox" />
      <xs:element name="slider" type="CT_Slider" />
      <xs:element name="checkBox" type="CT_Checkbox" />
      <xs:element name="radioButton" type="CT_RadioButton" />
      <xs:element name="container" type="CT_ItemContainer" />
      <xs:element name="controlContainer" type="CT_ControlContainer" />
      <xs:element name="comboBox" type="CT_Combobox" />
    </xs:choice>
  </xs:group>

  <xs:group name="EG_ContainerControls">
    <xs:choice>
      <xs:element name="button" type="CT_Button" />
      <xs:element name="label" type="CT_Label" />
      <xs:element name="spacer" type="CT_Spacer" />
      <xs:element name="separator" type="CT_Separator" />
      <xs:element name="textBox" type="CT_Textbox" />
      <xs:element name="spinBox" type="CT_SpinBox" />
      <xs:element name="slider" type="CT_Slider" />
      <xs:element name="checkBox" type="CT_Checkbox" />
      <xs:element name="radioButton" type="CT_RadioButton" />
      <xs:element name="container" type="CT_ItemContainer" />
      <xs:element name="comboBox" type="CT_Combobox" />
      <xs:element name="galleryContainer" type="CT_GalleryContainer" />
    </xs:choice>
  </xs:group>

  <xs:group name="EG_MenuControls">
    <xs:choice>
      <xs:element name="button" type="CT_Button" />
      <xs:element name="label" type="CT_Label" />
    </xs:choice>
  </xs:group>  
  
</xs:schema>
